<p id="notice"><%= notice %></p>

<h2>You Are Currently Standing At ...</h2>
<p>
    <%= @location.my_location %>
</p>

<h2>The closest buses are ...</h2>
<% if @bus_count == 0 %>
  <p>
    Sorry, there are no buses close to you.
  </p>
<% end %>
<% @nearby_buses.each do |bus| %>
  <p>
    <strong>Route</strong>:<% bus["Route"] <%><br />
    <strong>Vehicle</strong>:<% bus["Vehicle"] <%><br />
    <strong>Next Stop</strong>:<% bus["timepoint"] <%><br />
  </p>
<% end %>

<%= link_to 'Actually, I\'m at...', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
